ul {
  list-style-type: none;
  border: solid 1px black;
}

li {
  margin-bottom: 10px;
  margin-top: 10px;
}

li::before {
  content: "*"; 
  color: red;
  display: inline-block; 
  width: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

ul li:last-child {
  margin-top: 20px;
  background-color: antiquewhite;
  margin-right: 500px;
}